aiohappyeyeballs==2.4.3 ; python_full_version == "3.12.7"
aiohttp==3.10.10 ; python_full_version == "3.12.7"
aiosignal==1.3.1 ; python_full_version == "3.12.7"
altair==5.4.1 ; python_full_version == "3.12.7"
annotated-types==0.7.0 ; python_full_version == "3.12.7"
anyio==4.6.2.post1 ; python_full_version == "3.12.7"
attrs==24.2.0 ; python_full_version == "3.12.7"
blinker==1.8.2 ; python_full_version == "3.12.7"
cachetools==5.5.0 ; python_full_version == "3.12.7"
certifi==2024.8.30 ; python_full_version == "3.12.7"
charset-normalizer==3.4.0 ; python_full_version == "3.12.7"
click==8.1.7 ; python_full_version == "3.12.7"
colorama==0.4.6 ; python_full_version == "3.12.7" and platform_system == "Windows"
docstring-parser==0.16 ; python_full_version == "3.12.7"
frozenlist==1.4.1 ; python_full_version == "3.12.7"
gitdb==4.0.11 ; python_full_version == "3.12.7"
gitpython==3.1.43 ; python_full_version == "3.12.7"
google-api-core==2.21.0 ; python_full_version == "3.12.7"
google-api-core[grpc]==2.21.0 ; python_full_version == "3.12.7"
google-auth==2.35.0 ; python_full_version == "3.12.7"
google-cloud-aiplatform==1.70.0 ; python_full_version == "3.12.7"
google-cloud-bigquery==3.26.0 ; python_full_version == "3.12.7"
google-cloud-core==2.4.1 ; python_full_version == "3.12.7"
google-cloud-resource-manager==1.12.5 ; python_full_version == "3.12.7"
google-cloud-storage==2.18.2 ; python_full_version == "3.12.7"
google-crc32c==1.6.0 ; python_full_version == "3.12.7"
google-resumable-media==2.7.2 ; python_full_version == "3.12.7"
googleapis-common-protos==1.65.0 ; python_full_version == "3.12.7"
googleapis-common-protos[grpc]==1.65.0 ; python_full_version == "3.12.7"
greenlet==3.1.1 ; python_full_version == "3.12.7" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpc-google-iam-v1==0.13.1 ; python_full_version == "3.12.7"
grpcio-status==1.67.0 ; python_full_version == "3.12.7"
grpcio==1.67.0 ; python_full_version == "3.12.7"
h11==0.14.0 ; python_full_version == "3.12.7"
httpcore==1.0.6 ; python_full_version == "3.12.7"
httpx-sse==0.4.0 ; python_full_version == "3.12.7"
httpx==0.27.2 ; python_full_version == "3.12.7"
idna==3.10 ; python_full_version == "3.12.7"
jinja2==3.1.4 ; python_full_version == "3.12.7"
jsonpatch==1.33 ; python_full_version == "3.12.7"
jsonpointer==3.0.0 ; python_full_version == "3.12.7"
jsonschema-specifications==2024.10.1 ; python_full_version == "3.12.7"
jsonschema==4.23.0 ; python_full_version == "3.12.7"
langchain-core==0.3.12 ; python_full_version == "3.12.7"
langchain-google-vertexai==2.0.5 ; python_full_version == "3.12.7"
langchain-text-splitters==0.3.0 ; python_full_version == "3.12.7"
langchain==0.3.4 ; python_full_version == "3.12.7"
langgraph-checkpoint==2.0.1 ; python_full_version == "3.12.7"
langgraph-sdk==0.1.33 ; python_full_version == "3.12.7"
langgraph==0.2.39 ; python_full_version == "3.12.7"
langsmith==0.1.136 ; python_full_version == "3.12.7"
markdown-it-py==3.0.0 ; python_full_version == "3.12.7"
markupsafe==3.0.2 ; python_full_version == "3.12.7"
mdurl==0.1.2 ; python_full_version == "3.12.7"
msgpack==1.1.0 ; python_full_version == "3.12.7"
multidict==6.1.0 ; python_full_version == "3.12.7"
narwhals==1.9.4 ; python_full_version == "3.12.7"
numpy==1.26.4 ; python_full_version == "3.12.7"
orjson==3.10.9 ; python_full_version == "3.12.7"
packaging==24.1 ; python_full_version == "3.12.7"
pandas==2.2.3 ; python_full_version == "3.12.7"
pillow==10.4.0 ; python_full_version == "3.12.7"
propcache==0.2.0 ; python_full_version == "3.12.7"
proto-plus==1.24.0 ; python_full_version == "3.12.7"
protobuf==5.28.2 ; python_full_version == "3.12.7"
pyarrow==17.0.0 ; python_full_version == "3.12.7"
pyasn1-modules==0.4.1 ; python_full_version == "3.12.7"
pyasn1==0.6.1 ; python_full_version == "3.12.7"
pydantic-core==2.23.4 ; python_full_version == "3.12.7"
pydantic==2.9.2 ; python_full_version == "3.12.7"
pydeck==0.9.1 ; python_full_version == "3.12.7"
pygments==2.18.0 ; python_full_version == "3.12.7"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.7"
python-dotenv==1.0.1 ; python_full_version == "3.12.7"
pytz==2024.2 ; python_full_version == "3.12.7"
pyyaml==6.0.2 ; python_full_version == "3.12.7"
redis==5.1.1 ; python_full_version == "3.12.7"
referencing==0.35.1 ; python_full_version == "3.12.7"
requests-toolbelt==1.0.0 ; python_full_version == "3.12.7"
requests==2.32.3 ; python_full_version == "3.12.7"
rich==13.9.2 ; python_full_version == "3.12.7"
rpds-py==0.20.0 ; python_full_version == "3.12.7"
rsa==4.9 ; python_full_version == "3.12.7"
shapely==2.0.6 ; python_full_version == "3.12.7"
six==1.16.0 ; python_full_version == "3.12.7"
smmap==5.0.1 ; python_full_version == "3.12.7"
sniffio==1.3.1 ; python_full_version == "3.12.7"
spotipy==2.24.0 ; python_full_version == "3.12.7"
sqlalchemy==2.0.36 ; python_full_version == "3.12.7"
streamlit==1.39.0 ; python_full_version == "3.12.7"
tenacity==9.0.0 ; python_full_version == "3.12.7"
toml==0.10.2 ; python_full_version == "3.12.7"
tornado==6.4.1 ; python_full_version == "3.12.7"
typing-extensions==4.12.2 ; python_full_version == "3.12.7"
tzdata==2024.2 ; python_full_version == "3.12.7"
urllib3==2.2.3 ; python_full_version == "3.12.7"
watchdog==5.0.3 ; platform_system != "Darwin" and python_full_version == "3.12.7"
yarl==1.15.5 ; python_full_version == "3.12.7"
